<div>
  <table>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Enter the invoice to search for  </td>
      <td>
        <input type="text" name="invoice" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <fieldset>
          <legend>Search Options</legend>
          <table>
            <tr>
              <td>
                <input type="radio" name="exactmatch" />
                <span>Exact match</span>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="skeletonmatch" />
                <span>Skeleton match</span>
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-2"><button type="button" class="btn btn-success" value="Ok">Ok</button></div>
  <div class="col-2"><button type="button" class="btn btn-danger" value="Cancel">Cancel</button></div>
  <div class="col-8">&nbsp;</div>  
</div>
