<div>
  <table>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Find by breed code</td>
      <td>
        <input type="text" name="breedcode" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <b>- OR -</b>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Find by breed description</td>
      <td>
        <input type="text" name="breeddescription" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <b>- OR -</b>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Find by product code</td>
      <td>
        <input type="text" name="productcode" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-2"><button type="button" class="btn btn-success" value="Ok">Ok</button></div>
  <div class="col-2"><button type="button" class="btn btn-primary" value="New Breed">New Breed</button></div>
  <div class="col-2"><button type="button" class="btn btn-danger" value="Cancel">Cancel</button></div>
  <div class="col-6">&nbsp;</div>  
</div>
