<div><h2>Enter the criteria to use to search for a rolodex entry</h2></div><br />
<div>
  <table>
    <tr>
      <td>Alpha Search</td>
      <td>
        <input type="text" name="alphasearch" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" name="name" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>
        <input type="text" class="phone" name="phonenumber" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>City</td>
      <td>
        <input type="text" class="city" name="city" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>State</td>
      <td>
        <input type="text" class="state" name="state" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td>
        <input type="text" class="zipcode" name="zipcode" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-2"><button type="button" class="btn btn-success" value="Ok">Ok</button></div>
  <div class="col-2"><button type="button" class="btn btn-primary" value="New Entry">New Entry</button></div>
  <div class="col-2"><button type="button" class="btn btn-danger" value="Cancel">Cancel</button></div>
  <div class="col-6">&nbsp;</div>  
</div>
