<div><h2>Enter the criteria to use to search for a customer</h2></div><br />
<div>
  <table>
    <tr>
      <td>Customer ID / Alpha</td>
      <td>
        <input type="text" name="customerid" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Customer Name</td>
      <td>
        <input type="text" name="customername" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Phone number</td>
      <td>
        <input type="text" name="phonenumber" class="phone" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>City</td>
      <td>
        <input type="text" name="city" class="city" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>State</td>
      <td>
        <input type="text" name="state" class="state" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td>
        <input type="text" name="zipcode" class="zipcode" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Email address</td>
      <td>
        <input type="text" name="emailaddress" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="checkbox" name="include" value="Include inactive customers" />
        <span>Include inactive customers</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-2"><button type="button" class="btn btn-success" value="Ok">Ok</button></div>
  <div class="col-2"><button type="button" class="btn btn-primary" value="New Customer">New Customer</button></div>
  <div class="col-2"><button type="button" class="btn btn-danger" value="Cancel">Cancel</button></div>
  <div class="col-6">&nbsp;</div>
</div>
