<div><h2>New Customer General Information</h2></div>
<br />
<div>
  <table>
    <tr>
      <td>Customer Name</td>
      <td>
        <input type="text" name="customername" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Address</td>
      <td>
        <input type="text" name="address" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>(Line 2)</td>
      <td>
        <input type="text" name="line2" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>City, State</td>
      <td>
        <input type="text" name="city_state" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Zip Code</td>
      <td>
        <input type="text" name="zipcode" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Phone #1</td>
      <td>
        <input type="text" name="phone" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <input type="text" name="email" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Search Name</td>
      <td>
        <input type="text" name="searchname" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Customer Type</td>
      <td>
        <select name="customertype"></select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="checkbox" name="include" value="Include inactive customers" />
        <span> Include inactive customers</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-2"><button type="button" class="btn btn-secondary" value="Back">Back</button></div>
  <div class="col-2"><button type="button" class="btn btn-primary" value="Next">Next</button></div>
  <div class="col-2"><button type="button" class="btn btn-success" value="Ok">Ok</button></div>
  <div class="col-2"><button type="button" class="btn btn-danger" value="Cancel">Cancel</button></div>
  <div class="col-4">&nbsp;</div> 
  
</div>
