<div><h2>Enter the criteria to use to search for a product</h2></div><br />
<div>
  <table>
    <tr>
      <td>Code</td>
      <td>
        <input type="text" name="code" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <input type="text" name="description" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <input type="checkbox" name="include" value="use wildcard search" />
        <span>use wildcard search</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
  </table>
</div>

<div class="row">
  <div class="col-2"><button type="button" class="btn btn-success" value="Ok">Ok</button></div>
  <div class="col-2"><button type="button" class="btn btn-primary" value="New Product">New Product</button></div>
  <div class="col-2"><button type="button" class="btn btn-danger" value="Cancel">Cancel</button></div>
  <div class="col-6">&nbsp;</div>  
</div>
