<div>
  <table>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Code</td>
      <td>
        <input type="text" name="code" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>NPIP code</td>
      <td>
        <input type="text" name="npipcode" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>item class</td>
      <td>
        <select name="itemclass"></select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Description</td>
      <td>
        <input type="text" name="description" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>SKU</td>
      <td>
        <input type="text" name="sku" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Number to corner</td>
      <td>
        <input type="text" name="numbertocorner" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Color</td>
      <td>
        <select name="color"></select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Product breed</td>
      <td>
        <select name="productbreed"></select>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>Price points</td>
      <td>
        <input type="text" name="pricepoints" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <fieldset>
          <legend>Inventory Control</legend>
          <table>
            <tr>
              <td colspan="2">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                Count
              </td>
              <td>
                <input type="tel" name="count" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                Reorder thresold
              </td>
              <td>
                <input type="tel" name="reorderthresold" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;
              </td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="printunitamount" value="Print unit amount on invoice" />
        <span>Print unit amount on invoice</span>
      </td>
      <td>
        <input type="checkbox" name="checkavailablity" value="Check availablity when ordering item" />
        <span>Check availablity when ordering item</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" name="includeitemonshippinglabel" value="Include item on shipping label" />
        <span>Include item on shipping label</span>
      </td>
      <td>
        <input type="checkbox" name="printitemonavailablityreports" value="Print item on availablity reports" />
        <span>Print item on availablity reports</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        &nbsp;
      </td>
      <td>
        <input type="checkbox" name="bolditemonavailablityreports" value="Bold item on availablity reports" />
        <span>Bold item on availablity reports</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        &nbsp;
      </td>
    </tr>

  </table>
</div>

<div class="row">
  <div class="col-2"><button class="btn btn-success" type="button" value="Ok">Ok</button></div>
  <div class="col-2"><button type="button" class="btn btn-danger" value="Cancel">Cancel</button></div>
  <div class="col-8">&nbsp;</div>  
</div>
